{{#sections}}
  <h3 id="{{ id }}">{{ title }}</h3>
  
  <ul>
  {{#resources}}
    <li>
      <a href="{{ link }}" title="{{ title }}">{{ title }}</a>: <span>{{ description }}</span>
    </li>
  {{/resources}}
  </ul>
{{/sections}}